/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";

.btn:active {
    transform: scale(0.98);
    transition: transform 0.1s;
  }

  input, select, textarea {
    font-size: 16px; /* ป้องกัน zoom บน iOS */
  }
  
  html {
    -webkit-overflow-scrolling: touch;
  }